<div class="footer-comp ">
  <div class="row m-0 pb-3">
    <div class="col-6">
      <h6 class="high-txt mt-4 justify-s">Projects worked on</h6>
      <div class="icon-grp justify-s" style="margin-left: 1.25rem;">
        <img src="../../assets/nielsen1.png" style="background-color: white;" class="prj-cls">
        <img src="../../assets/apple.png" class="prj-cls">
        <img src="../../assets/hersheys.png" style="background-color: white;" class="prj-cls">
      </div>
    </div>
    <div class="col-6 border-left">
      <h6 class="high-txt mt-2 justify-s">Let's connect on</h6>
      <ul class="justify-s d-flex mt-4">
        <a class="mx-2 li-type" href="https://in.linkedin.com/in/niranjan-hari" target="blank"><img src="../../assets/linkedIn.png" class="icon-cls"><span class="low-text mx-2">LinkedIn</span></a>
        <a class="mx-2 li-type" href="mailto:niranjanhari464@gmail.com"><img src="../../assets/gmail.png" class="icon-cls"><span class="low-text mx-2">Gmail</span></a>
        <a class="mx-2 li-type" href="https://github.com/NiranjanAbathurai"><img src="../../assets/github.png" class="icon-cls"><span class="low-text mx-2">Github</span></a>
        <a class="mx-2 li-type" href="https://www.instagram.com/niranjanhari"><img src="../../assets/instagram.png" class="icon-cls"><span class="low-text mx-2">Instagram</span></a>
        <a class="mx-2 li-type" href="https://www.facebook.com/niranjan.hari.1"><img src="../../assets/facebook.png" class="icon-cls"><span class="low-text mx-2">Facebook</span></a>
      </ul>
    </div>
  </div>
</div>
