<div class="footer-comp ">
  <div class="row m-0 pb-3 onScroll">
    <div class="col-6">
      <h6 class="high-txt mt-4 justify-s">{{ 'FOOTER.PROJECTS_TITLE' | translate }}</h6>
      <div class="icon-grp justify-s" style="margin-left: 1.25rem;">
        <img *ngFor="let p of projects" [src]="p.src" [alt]="p.alt" style="background-color: white;" class="prj-cls" [style.backgroundColor]="p.alt === 'Nielsen' || p.alt === 'Hersheys' ? 'white' : null">
      </div>
    </div>
    <div class="col-6 border-left">
      <h6 class="high-txt mt-2 justify-s">{{ 'FOOTER.CONNECT_TITLE' | translate }}</h6>
      <ul class="justify-s d-flex mt-4">
        <li *ngFor="let s of socials" class="mx-2 li-type">
          <a [href]="s.href" [target]="s.target || '_self'">
            <img [src]="s.src" class="icon-cls" [alt]="s.altKey | translate" />
            <span class="low-text mx-2">{{ s.altKey | translate }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
