<div class="contact-page">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="row p-4 form-box onScroll">
      <div class="form-input row">
        <h4>{{ 'CONTACT.HEADING' | translate }}</h4>
        <div class="col-md-6 col-12">
          <label for="firstName" class="form-label">{{ 'CONTACT.FIRST_NAME' | translate }}</label><br>
          <input id="firstName" name="firstName" formControlName = "firstName" type="text" class="form-label form-control">
        </div>
        <div class="col-md-6 col-12">
          <label for="lastName">{{ 'CONTACT.LAST_NAME' | translate }}</label><br>
          <input id="lastName" name="lastName" formControlName = "lastName" type="text" class="form-label form-control">
        </div>
        <div class="col-md-6 col-12">
          <label for="mobile" class="form-label">{{ 'CONTACT.MOBILE_NUMBER' | translate }}</label><br>
          <input id="mobile" name="mobile" formControlName = "mobile" type="text" (keyup)="onKeyPress()" class="form-label form-control">
        </div>
        <div class="col-md-6 col-12">
          <label for="email">{{ 'CONTACT.EMAIL' | translate }}</label><br>
          <input id="email" name="email" formControlName = "email" type="email" class="form-label form-control">
        </div>
        <div class="col-12 btn-div" [ngStyle]="{'margin-bottom':displaySuccess?'1rem':'0'}">
          <button type="submit" class=" btn btn-dark submit-btn col-md-6 col-12">{{ 'CONTACT.SUBMIT' | translate }}</button>
          <button type="button" (click)="onReset()" class="btn btn-outline-success reset-btn col-md-6 col-12">{{ 'CONTACT.RESET' | translate }}</button>
        </div>
        <span *ngIf="displaySuccess" class="col-12 success-msg">{{ 'CONTACT.SUCCESS' | translate }}</span>
      </div>
    </div>
  </form>
</div>
