
.home-comp{
  overflow: hidden;
  height: 100%;
  .name-cls{
    text-align: center;
    font-family: 'MyFont';
    background-color: black;
   
  }

  @keyframes slideright {
    0% {
      opacity: 0;
      transform: translateX(-50%); 
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .hey-cls{ 
   font-family: 'light-font';
   margin: 0;
   font-weight: 500;
   font-size: larger;
   color: whitesmoke;
  }
  .my-name{
    font-family: 'my-font';
    font-size: xxx-large;
    font-weight: 700;
    color: white;
  }
  .role{
    font-family: 'regular-font';
    font-size: x-large;
    color: whitesmoke;
  }
  .icon-cls{
    margin: 0 0.5rem 0 0;
    width: 1rem;
  }

  .btn.btn-dark{
    color: black;
    background: green;
    border: none;
    border-radius: 0;
    padding: 0.75rem;
  }

  .btn.btn-dark:hover{
    color: green;
    background: white;
    animation: glow-btn-animation 1.5s ease-in-out infinite ;
  }

  .row-cls{
    margin: 0;
    height: auto;
    @media screen and (max-width:768px) {
      height: auto
    }
  }

  .second-col{
    background-color: black;
  }

  .text-div{
    padding-top: 4rem;
    animation:  slideright 1s ease-in forwards;
  }

  .about-cls{
    font-size:small;
    padding: 2rem 4rem;
    animation:  slideright 1s ease-in forwards;
  }
  .experience{
    animation:  slideright 1s ease-in forwards;
  }
  

  @keyframes glow-btn-animation {
    0% {
      box-shadow: 0 0 5px #28a745, 0 0 10px #28a745, 0 0 15px #28a745, 0 0 20px #28a745;
    }
    50% {
      box-shadow: 0 0 20px #28a745, 0 0 30px #28a745, 0 0 40px #28a745, 0 0 50px #28a745;
    }
    100% {
      box-shadow: 0 0 5px #28a745, 0 0 10px #28a745, 0 0 15px #28a745, 0 0 20px #28a745;
    }
  }
  



  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0); 
    }
  }

  .bg-black{
    background-color: black;
  }
  
  .high-txt{
    font-family: 'my-font';
    color: white;
    justify-self: center;
  }

  .low-text{
    font-family: 'light-font';
    color: whitesmoke;
    font-size: 0.75rem;
    justify-self: center;
    padding: 0 2rem;
  }

  .carousel-indicators{
    position: relative !important;
  }
  .carousel-indicators li {
    background-color: green;
  }

  .carousel-indicators .active {
    background-color: darkgreen; 
  }

  #carouselExample {
    height: 350px; 
    width: 70%;
    place-self: center;
    animation:   slideleft 1s ease-in forwards;
    @media screen and (max-width:768px) {
      height: auto;
      max-height: 430px;
      min-height: 290px;
    }
   
  }

  @keyframes slideleft {
    0% {
      opacity: 0;
      transform: translateX(50%); 
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  #carouselExample .carousel-inner {
    height: 350px;
    @media screen and (max-width:768px) {
      max-height: 430px;
      height: auto;
      min-height: 225px;
    }
  }

  .carousel-inner {
    width: 100%;
  }
  
  .carousel-inner img {
    object-fit: contain; 
    width: 100%; 
    height: 100%; 
  }
  .mt-3rem{
    margin-top: 3rem;
  }
  .mt-6rem{
    margin-top: 6rem;
  }
  .my-2rem{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .p-4rem{
    padding: 4rem;
  }
  .pt-2rem{
    padding-top: 2rem;
  }
  .gap-2{
    gap: 2rem !important;
  }
}