
<div class="home-comp">
  <div class="row">
    <div class="col-md-6 col-12 name-cls">
      <p class="hey-cls">Hey, I'm </p>
      <h1 class="my-name">Niranjan Abathurai</h1>

      <h4 class="role">Angular Frontend Developer</h4>
      <button class="btn btn-dark my-3" (click)="downloadFile()"><i class="fa fa-thin fa-download icon-cls"></i>Download CV </button>
    
    <div class="icon-group">
      <img src="../../assets/angular_logo.png" class="img-lang-icon">
      <br>
      <div class="img-gp">
        <img src="../../assets/typescript.png" class="img-lang-icon-1">
        <img src="../../assets/javascript.png" class="img-lang-icon-1">
        <img src="../../assets/html5.png" class="img-lang-icon-2">
        <img src="../../assets/css3.png" class="img-lang-icon-2">
      </div>
    </div>
    </div>
    <div class="col-md-6 col-12 p-0">
      <img src="../../assets/Niranjan.png" class="img-cls">
    </div>
  </div>
</div>