/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap.scss';

@font-face {
  font-family: 'my-font';
  src: url('../src/assets/BigShoulders.ttf');
}

@font-face {
  font-family: 'regular-font';
  src: url('../src/assets/Titillium_Web/TitilliumWeb-Regular.ttf');
}

@font-face {
  font-family: 'light-font';
  src: url('../src/assets/Titillium_Web/TitilliumWeb-Light.ttf');
}

.ml-8{
  margin-left: 2rem;
}