<div class="footer-comp ">
  <div class="row m-0 pb-3">
    <div class="col-6">
      <h6 class="high-txt mt-4 justify-s">Projects worked on</h6>
      <div class="icon-grp justify-s" style="margin-left: 1.25rem;">
        <img src="../../assets/nielsen1.png" style="background-color: white;" class="prj-cls">
        <img src="../../assets/apple.png" class="prj-cls">
        <img src="../../assets/hersheys.png" style="background-color: white;" class="prj-cls">
      </div>
    </div>
    <div class="col-6 border-left">
      <h6 class="high-txt mt-2 justify-s">Let's connect on</h6>
      <ul class="justify-s">
        <li class="mx-2 li-type"><img src="../../assets/linkedIn.png" class="icon-cls"><span class="low-text mx-2">LinkedIn</span></li>
        <li class="mx-2 li-type"><img src="../../assets/gmail.png" class="icon-cls"><span class="low-text mx-2">Gmail</span></li>
        <li class="mx-2 li-type"><img src="../../assets/instagram.png" class="icon-cls"><span class="low-text mx-2">Instagram</span></li>
        <li class="mx-2 li-type"><img src="../../assets/facebook.png" class="icon-cls"><span class="low-text mx-2">Facebook</span></li>
      </ul>
    </div>
  </div>
</div>
