
.header-component{
    padding: 0 1rem;
    background-color: black;
    color: white;

    .nav-row{
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .name-cls{
        font-size: xx-large;
        margin: 0;
        padding: 0.5rem 0;
        font-family: fantasy;
        letter-spacing: 2px;
    }

    .img-cls{
        width: 4rem;
    }

    .ul-list{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 1rem 0;
        @media screen and (max-width : 768px) {
            flex-direction: column;
        }
    }

    .list-cls{
        padding: 0.5rem 1rem 0.5rem 1rem;
        cursor: pointer;
        margin: 0;
    }

    .list-cls:hover{
        background-color: green;
    }

    .mobile-nav-view{
        .mobile-nav {
            position: relative;
            padding: 0.5rem;
        }

        .hamburger-icon{
            margin-top: 1rem;
            font-size: 1.5rem;
        }

        .ul-list{
            padding: 0;
            background-color: grey;
            position: absolute;
            right: 0;
            top: 1.25rem;
            width: 200px;
            margin-right: -1rem;
        }

        .list-cls{
            padding: 1rem 2rem;
            margin: 0;
            cursor: pointer;
        }

        .list-cls:hover{
            background-color: green;
        }
    }
    
}