
.contact-page{

  .form-box{
    width: 50%;
    justify-self: center;
    border: 2px solid green;
    border-radius: 4px;
    box-shadow: 0 3px 12px green;
    margin-bottom: 2rem;

    @media screen and (max-width:768px) {
      width: 100%;
    }
  }
  
  .form-label{
    width: 100%;
    border-radius: 4px;
    border: none;
    box-shadow: none;
  }

  .form-label:focus{
    box-shadow: 0px 4px 13px 0px green, 0px -4px 12px green, 4px 0px 12px green, -4px 0px 12px green !important;
  }

  .submit-btn{
    width: 50%;
    display: flex;
    justify-content: center;
    font-family: 'regular-font';
  }

  .reset-btn{
    font-family: 'regular-font';
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-input{
    padding: 1rem;
  }

  .btn-div {
    display: flex;
    padding: 1rem;
    margin: 2rem 0;
    gap: 1rem;
  }

  .btn.btn-dark{
    color: black;
    background: green;
    border: none;
    border-radius: 4px;
    padding: 0.75rem;
  }

  .btn.btn-dark:hover{
    color: green;
    background: white;
    animation: glow-btn-animation 1.5s ease-in-out infinite ;
  }

  label{
    font-family: 'regular-font';
    color: white;
    padding-top: 1rem;
  }

  h4{
    font-family: 'my-font';
    color: white;
    text-shadow: 0px 8px 12px green, 0px -8px 12px green, 8px 0px 12px green, -8px 0px 12px green;
    margin-bottom: 1rem;
  }

  .success-msg{
    color: white;
    font-family: 'regular-font';
    margin-left: 0.25rem;
  }

}