/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap.scss';
@import "tailwindcss";

@font-face {
  font-family: 'my-font';
  src: url('../src/assets/BigShoulders.ttf');
}

@font-face {
  font-family: 'regular-font';
  src: url('../src/assets/Titillium_Web/TitilliumWeb-Regular.ttf');
}

@font-face {
  font-family: 'light-font';
  src: url('../src/assets/Titillium_Web/TitilliumWeb-Light.ttf');
}

.ml-8{
  margin-left: 2rem;
}

.li-cls{
  list-style-type: disclosure-open;
  padding: 0 2rem;
  margin-left: 2rem;
  color: whitesmoke;
  font-family: 'regular-font';
}

$green-color: #44ed44;

@keyframes appear {
  from{
    opacity: 0.5;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

.onScroll{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}