
.work-experience{
  background-color: black;

  .text-color{
    color: white;
    text-align: center;
  }

  .mt-8{
    margin-top: 2rem !important;
  }

  .pl-2rem{
    padding-left: 2rem;
  }

  .pr-2rem{
    padding-right: 2rem;
  }

  .vertical-line-r{
    border-right: 2px solid grey;
    position: relative;
    left: 0.83rem;
  }

  .vertical-line-l{
    border-left: 2px solid grey;
    position: relative;
  }

  .icon-cls-left{
    font-size: 0.5rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 99.4%;
  }

  .icon-cls-right{
    font-size: 0.5rem;
    color: white;
    position: absolute;
    top: 50%;
    right: 97.5%;
  }

  .icon-cls-left::before{
    content: '';
    position: absolute;
    top: 50%;
    width: 50px; 
    height: 1px; 
    background-color: white;
  }

  .right-mbl{
    right: 99.5% !important;
  }

  .icon-cls-right::after{
    content: '';
    position: absolute;
    top: 45%;
    width: 50px; 
    height: 1px; 
    background-color: white;
  }
  
  .icon-cls-left::before {
   right: 1%;
   top: 40%;
  }

  .icon-cls-right::before {
    left: 1%;
    top: 40%;
   }

  .justify-end{
    justify-items: end;
    align-content: center;
  }

  .justify-start{
    justify-items: start;
    align-content: center;
  }

  .role-cls{
    color: #44ed44;
  }

  .mr-4rem{
    margin-right: 4rem;
  }

  .ml-4rem{
    margin-left: 4rem;
  }

  .pt-2rem{
    padding-top: 2rem;
  }

  @media screen and (max-width:500px){
    ul{
      padding-left: 0;
    }
    
    .li-cls{
      padding: 0 1rem;
    }
  }

  .btn:hover{
    color: white;
    background: green;
  }
  
}