<div class="work-experience mt-4">
  <div class="row m-0 p-4">
    <!-- <h3 class="text-color">PROJECTS</h3> -->
    <div class="row" *ngFor="let item of jobDetails; let odd=odd">
      <!-- Odd -->
      <div class="col-md-6 col-12 p-4" [ngClass]="isMobile()?'vertical-line-l justify-start':'vertical-line-r justify-end'" *ngIf="!odd">
        <div class="icon-cls-right" *ngIf="isMobile()"  [ngClass]="{ 'right-mbl' :isMobile()}">
          <i class="fa fa-light fa-circle "></i>
        </div>
        <h3 class=" role-cls" [ngClass]="isMobile()?'ml-4rem':'mr-4rem'">{{item.role}}</h3>
        <h4 class=" role-cls" [ngClass]="isMobile()?'ml-4rem':'mr-4rem'">{{item.company}}</h4>
        <h5 class=" role-cls" [ngClass]="isMobile()?'ml-4rem':'mr-4rem'">{{item.projectName}}</h5>
        <div class="icon-cls-left" *ngIf="!isMobile()">
          <i class="fa fa-light fa-circle "></i>
        </div>
      </div>
      <div class=" col-md-6 col-12 pt-2rem" *ngIf="!odd" [ngClass]="isMobile()?'vertical-line-l ':'pl-2rem'">
        <ul>
          <li class="li-cls" *ngFor="let val of item.description"> {{val}}</li>
        </ul>
      </div>

      <!-- Even -->
      <div class="col-md-6 col-12 p-4 vertical-line-l justify-start" *ngIf="odd && isMobile()">
        <div class="icon-cls-right" [ngClass]="{ 'right-mbl' :isMobile()}">
          <i class="fa fa-light fa-circle "></i>
        </div>
        <h3 class="ml-4rem role-cls">{{item.role}}</h3>
        <h4 class="ml-4rem role-cls">{{item.company}}</h4>
        <h5 class="ml-4rem role-cls">{{item.projectName}}</h5>
        
      </div>
      <div class=" col-md-6 col-12 pt-2rem"  *ngIf="odd" [ngClass]="isMobile()?'vertical-line-l justify-start':'vertical-line-r pr-2rem'">
        <ul>
          <li class="li-cls" *ngFor="let val of item.description"> {{val}}</li>
        </ul>
      </div>
      <div class="col-md-6 col-12 p-4" *ngIf="odd && !isMobile()" [ngClass]="isMobile()?'vertical-line-1 justify-start':'vertical-line-1 justify-start'">
        <div class="icon-cls-right" [ngClass]="{ 'right-mbl' :isMobile()}">
          <i class="fa fa-light fa-circle "></i>
        </div>
        <h3 class="ml-4rem role-cls">{{item.role}}</h3>
        <h4 class="ml-4rem role-cls">{{item.company}}</h4>
        <h5 class="ml-4rem role-cls">{{item.projectName}}</h5>
        
      </div>

    </div>
  </div>
</div>
