.technology-worked{
  .technology{
    display:flex;
    justify-content: center;
    color: green;
    font-family: 'my-font';
    margin-top: 2rem;
    animation: slideIn 1s ease-in forwards;
  }

  .glowing-text {
    font-weight: bold;
    animation: glow-animation 1.5s ease-in-out infinite;
    letter-spacing: 0.25rem;
    color: white;
  }

  @keyframes glow-animation {
    0% {
      text-shadow: 0 0 5px #28a745, 0 0 10px #28a745, 0 0 15px #28a745, 0 0 20px #28a745;
    }
    50% {
      text-shadow: 0 0 20px #28a745, 0 0 30px #28a745, 0 0 40px #28a745, 0 0 50px #28a745;
    }
    100% {
      text-shadow: 0 0 5px #28a745, 0 0 10px #28a745, 0 0 15px #28a745, 0 0 20px #28a745;
    }
  }

  .image-group{
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }

  .image-div{
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(40, 167, 69, 0.3), 0 0 15px rgba(40, 167, 69, 0.1),0 4px 8px rgba(40, 167, 69, 0.3), 0 0 15px rgba(40, 167, 69, 0.1);
    animation: slideIn 1s ease-in forwards;
  }

  .object_contain{
    object-fit: contain;
  }

  .ang-img{
    width: 10%;
  }
  .img-1{
    width: 6%; 
  }
  .img-2{
    width: 6%; 
  }
  .img-3{
    width: 5%;
  }
  .img-4{
    width: 4%;
  }

  .tools-cls{
    width: 7%;
  }

  .heading{
    display: flex;
    justify-content: center;
  }

  .text-color{
    color: white;
  }

  .p-1-2{
    padding: 1.15rem 0;
  }
}