<div class="right-pane">
  <h2 class="font-bold text-lg mb-4">Elements</h2>
  
  <div class="relative">
    <input type="text" class="pl-10 pr-4 py-2 w-full border rounded-lg text-sm" placeholder="Search elements..." [(ngModel)] = "searchFilter">
    <svg class="absolute left-3 top-1/2 transform translate-middle-y text-gray-500 w-4 h-4 sm:w-5 sm:h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35M18 10a8 8 0 1 1-8-8 8 8 0 0 1 8 8z"/>
    </svg>
  </div>

  <div *ngIf="filterItemsByCategory('Text').length > 0" class="border-b border-gray-300 p-2 mb-2">
    <h4 class="font-bold text-sm sm:text-md mb-2">Text Fields</h4>
    <ul>
      <li *ngFor="let item of filterItemsByCategory('Text')" class="flex flex-row items-start gap-2 p-2 mb-2 cursor-pointer hover:bg-gray-100 rounded transition your-draggable-item" 
      [attr.draggable]="true" (dragstart)="onDragStart($event, item)">
        <div class="flex flex-shrink-0">
          <i class="fa fa-font bg-gray-300 p-1 text-xs" *ngIf="item.name == 'Single Line Text'" aria-hidden="true"></i>
          <i class="fa fa-align-left bg-gray-300 p-1 text-xs" *ngIf="item.name == 'Multi Line Text'" aria-hidden="true"></i>
          <i class="fa fa-sort-numeric-asc bg-gray-300 p-1 text-xs" *ngIf="item.name == 'Integer'" aria-hidden="true"></i>
        </div>
        <div class="flex flex-col min-w-0">
          <div class="text-xs sm:text-sm font-medium truncate">{{ item.name }}</div>
          <div class="text-xs text-gray-500 hidden sm:block line-clamp-1">{{ item.description }}</div>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="filterItemsByCategory('DateTime').length > 0" class="border-b border-gray-300 p-2 mb-2">
    <h4 class="font-bold text-sm sm:text-md mb-2">Date & Time Fields</h4>
    <ul>
      <li *ngFor="let item of filterItemsByCategory('DateTime')" class="flex flex-row items-start gap-2 p-2 mb-2 cursor-pointer hover:bg-gray-100 rounded transition your-draggable-item"
      [attr.draggable]="true" (dragstart)="onDragStart($event, item)">
      <div class="flex flex-shrink-0">
        <i class="fa fa-calendar bg-gray-300 p-1 text-xs" *ngIf="item.name == 'Date'" aria-hidden="true"></i>
        <i class="fa fa-clock-o bg-gray-300 p-1 text-xs" *ngIf="item.name == 'Time'" aria-hidden="true"></i>
        <i class="fa fa-calendar-check-o bg-gray-300 p-1 text-xs" *ngIf="item.name == 'Date & Time'" aria-hidden="true"></i>
      </div>
      <div class="flex flex-col min-w-0">
        <div class="text-xs sm:text-sm font-medium truncate">{{ item.name }}</div>
        <div class="text-xs text-gray-500 hidden sm:block line-clamp-1">{{ item.description }}</div>
      </div>
      </li>
    </ul>
  </div>

  <div *ngIf="filterItemsByCategory('Dropdown').length > 0" class="border-b border-gray-300 p-2 mb-2">
    <h4 class="font-bold text-sm sm:text-md mb-2">Dropdown & Upload Fields</h4>
    <ul>
      <li *ngFor="let item of filterItemsByCategory('Dropdown')" class="flex flex-row items-start gap-2 p-2 mb-2 cursor-pointer hover:bg-gray-100 rounded transition your-draggable-item"
      [attr.draggable]="true" (dragstart)="onDragStart($event, item)">
      <div class="flex flex-shrink-0">
        <i class="fa fa-dot-circle-o bg-gray-300 p-1 text-xs" *ngIf="item.name == 'Single Selection'" aria-hidden="true"></i>
        <i class="fa fa-check-circle bg-gray-300 p-1 text-xs" *ngIf="item.name == 'Multi Selection'" aria-hidden="true"></i>
        <i class="fa fa-tasks bg-gray-300 p-1 text-xs" *ngIf="item.name == 'Dropdown'" aria-hidden="true"></i>
      </div>
      <div class="flex flex-col min-w-0">
        <div class="text-xs sm:text-sm font-medium truncate">{{ item.name }}</div>
        <div class="text-xs text-gray-500 hidden sm:block line-clamp-1">{{ item.description }}</div>
      </div>
      </li>
    </ul>
  </div>

  <div *ngIf="filterItemsByCategory('Upload').length > 0" class="border-b border-gray-300 p-2 mb-2">
    <h4 class="font-bold text-sm sm:text-md mb-2">Dropdown & Upload Fields</h4>
    <ul>
      <li *ngFor="let item of filterItemsByCategory('Upload')" class="flex flex-row items-start gap-2 p-2 mb-2 cursor-pointer hover:bg-gray-100 rounded transition  your-draggable-item"
      [attr.draggable]="true" (dragstart)="onDragStart($event, item)">
      <div class="flex flex-shrink-0">
        <i class="fa fa-upload bg-gray-300 p-1 text-xs" *ngIf="item.name == 'Upload'" aria-hidden="true"></i>
      </div>
      <div class="flex flex-col min-w-0">
        <div class="text-xs sm:text-sm font-medium truncate">{{ item.name }}</div>
        <div class="text-xs text-gray-500 hidden sm:block line-clamp-1">{{ item.description }}</div>
      </div>
      </li>
    </ul>
  </div>

</div>
