
<div class="home-comp">
  <div class="row row-cls">
    <div class="col-md-6 col-12 name-cls">
      <div class="text-div">
        <p class="hey-cls">{{ 'HOME.HEY' | translate }}</p>
        <h1 class="my-name">{{ 'HOME.NAME' | translate }}</h1>

        <h4 class="role">{{ 'HOME.ROLE' | translate }}</h4>
        <button class="btn btn-dark my-3" (click)="downloadFile()"><i class="fa fa-thin fa-download icon-cls"></i>{{ 'HOME.DOWNLOAD_CV' | translate }}</button>
      </div>

      <div>
        <h5 class="role about-cls">
          {{ 'HOME.ABOUT' | translate }}
         </h5>
      </div>

      <div class="row mt-3rem experience">
        <div class="col-4">
          <h3 class="high-txt">6+</h3>
          <p class="low-text">{{ 'HOME.EXPERIENCE_1' | translate }}</p>
        </div>
        <div class="col-4">
          <h3 class="high-txt">6+</h3>
          <p class="low-text">{{ 'HOME.EXPERIENCE_2' | translate }}</p>
        </div>
        <div class="col-4">
          <h3 class="high-txt">4+</h3>
          <p class="low-text">{{ 'HOME.EXPERIENCE_3' | translate }}</p>
        </div>
      </div>

    </div>
    <div class="col-md-6 col-12 second-col">
      <div id="carouselExample" class="carousel slide mt-6rem" data-ride="carousel" data-interval="2500">
        <div class="carousel-inner">
          <div *ngFor="let image of carouselImages; let i = index" class="carousel-item" [class.active]="i === 0">
            <img [src]="'assets/certificates/' + image.file" class="d-block w-100" [alt]="image.altKey | translate">
          </div>
        </div>

        <ol class="carousel-indicators">
          <li *ngFor="let image of carouselImages; let i = index"
              data-target="#carouselExample"
              [attr.data-slide-to]="i"
              [class.active]="i === 0">.</li>
        </ol>
      </div>
      
    </div>

      <div #skillsViewChild class="col-12 bg-black pt-2rem">
        <app-technology></app-technology>
      </div>

      <div #projectsViewChild class="col-12 bg-black pt-2rem">
        <app-work-experience></app-work-experience>
      </div>

    <div #contactViewChild class="col-12 bg-black pt-2rem pb-4">
        <app-contact></app-contact>
      </div> 

  </div>
</div>

<!-- <div>{{jsonFile | json}}</div> -->